<template>
  <div>
    <v-footer>
      <v-row>
        <v-col class="social-icon" cols="4">
          <a href="https://www.facebook.com/Solventa.Colombia" target="_blank">
            <img src="/facebook.png" />
          </a>
        </v-col>
        <v-col class="social-icon" cols="4">
          <a
            href="https://www.instagram.com/solventa.colombia/"
            target="_blank"
          >
            <img src="/instagram.png" />
          </a>
        </v-col>
        <v-col class="social-icon" cols="4">
          <a
            href="https://www.youtube.com/channel/UCJnk5qeCMopjjHb6Kw4te4g"
            target="_blank"
          >
            <img src="/youtube.png" />
          </a>
        </v-col>
        <v-col class="py-0 develop-by" cols="12">
          <p>Desarrollado por Daniel Felipe Delgado Chamorro</p>
        </v-col>
      </v-row>
    </v-footer>
  </div>
</template>

<script>
// EXPORT COMPONENT DEFINITION
export default {
  name: 'TheFooter',
}
</script>

<style scoped>
.social-icon {
  display: flex;
  justify-content: center;
}

.social-icon img {
  width: 32px;
  height: 32px;
}

.develop-by p {
  margin: 0;
  text-align: center;
}
</style>
