<template>
  <div>
    <v-navigation-drawer v-model="menu" temporary fixed right>
      <v-list>
        <template v-for="(button, i) in buttons">
          <v-list-item
            :key="i"
            color="#6b2378"
            @click="NavigationHandler(button.value)"
          >
            {{ button.text }}
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="grey lighten-4">
      <div class="company-logo">
        <img src="/logo.png" />
      </div>
      <v-spacer />
      <template v-if="$vuetify.breakpoint.smAndDown">
        <v-btn color="#6b2378" large icon @click="menu = true">
          <v-icon>menu</v-icon>
        </v-btn>
      </template>
      <template v-else>
        <template v-for="(button, i) in buttons">
          <v-btn
            :key="i"
            class="ml-1"
            color="#6b2378"
            text
            @click="NavigationHandler(button.value)"
          >
            {{ button.text }}
          </v-btn>
        </template>
      </template>
    </v-app-bar>
  </div>
</template>

<script>
// COMPONENT DATA
function ComponentData() {
  return {
    menu: false,
    buttons: [
      {
        text: 'Beneficios',
        value: 'beneficios',
      },
      {
        text: 'Préstamos en Línea',
        value: 'prestamos',
      },
      {
        text: 'Asesoramiento',
        value: 'asesoramiento',
      },
    ],
  }
}

// COMPONENT METHODS
function NavigationHandler(value) {
  location.href = `#${value}`
}

// EXPORT COMPONENT DEFINITION
export default {
  name: 'TheNavigationBar',
  data() {
    return ComponentData()
  },
  methods: {
    NavigationHandler,
  },
}
</script>

<style scoped>
.company-logo img {
  height: 50px;
  width: auto;
  margin-bottom: -6px;
}
</style>
