<template>
  <section id="asesoramiento">
    <v-row>
      <v-col class="pa-0" cols="12" md="6">
        <div class="image-container">
          <img src="/Advisory1.jpg" />
        </div>
      </v-col>
      <v-col class="pa-0 mb-4 advisory-description" cols="12" md="6">
        <p class="advisory-title">Compras Inteligentes</p>
        <p class="advisory-text">
          {{
            `Realizar compras inteligentes será la clave para garantizar tus ahorros. Por ello, es recomendable disminuir las compras en centros comerciales y supermercados de renombre, pues tendrán artículos muy costosos.`
          }}
        </p>
      </v-col>
      <v-col class="pa-0" cols="12" md="6" order-md="2">
        <div class="image-container">
          <img src="/Advisory2.jpg" />
        </div>
      </v-col>
      <v-col class="pa-0 advisory-description" cols="12" md="6" order-md="1">
        <p class="advisory-title">Ahorros</p>
        <p class="advisory-text">
          {{
            `Los ahorros personales son una cantidad de dinero específico que se guarda con un fin determinado. Un ahorro puede estar pensado tanto para para la economía del hogar y administración de las necesidades básicas, como para el ocio y la diversión.`
          }}
        </p>
      </v-col>
    </v-row>
  </section>
</template>

<script>
// EXPORT COMPONENT DEFINITION
export default {
  name: 'TheLoanSection',
}
</script>

<style scoped>
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.advisory-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.advisory-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.advisory-text {
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  margin-bottom: 2px;
}
</style>
