<template>
  <section id="beneficios">
    <v-carousel v-model="current" height="800">
      <template v-for="(slide, i) in slides">
        <v-carousel-item :key="i">
          <div class="slide-container">
            <img :src="GetSlideImage(slide)" />
            <div class="overlay">
              <p>
                {{ slide.description }}
              </p>
              <v-btn color="#6b2378" class="mt-3" dark @click="dialog = true">
                Solicitar Ahora
              </v-btn>
            </div>
          </div>
        </v-carousel-item>
      </template>
    </v-carousel>
    <v-dialog v-model="dialog" width="450" persistent>
      <v-card class="px-4">
        <v-form ref="ContactForm" @submit="ContactFormSubmit">
          <v-row>
            <v-col cols="12">
              <div class="card-title">
                <p>Crear Cuenta</p>
              </div>
              <v-col class="mt-2 mb-4 py-0" cols="12">
                <v-divider />
              </v-col>
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.name"
                :rules="rules"
                outlined
                label="Nombre(s)"
              />
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.lastname"
                :rules="rules"
                outlined
                label="Apellidos"
              />
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.dni"
                :rules="rules"
                outlined
                label="DNI"
              />
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.phone"
                :rules="rules"
                outlined
                label="Número de Teléfono"
              />
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.email"
                :rules="rules"
                outlined
                label="Correo Electrónico"
              />
            </v-col>
            <v-col class="py-0" cols="12">
              <v-text-field
                v-model="form.password"
                :rules="rules"
                :append-icon="show.password ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show.password ? 'text' : 'password'"
                outlined
                label="Contraseña"
                @click:append="show.password = !show.password"
              />
            </v-col>
            <v-col class="py-0 mb-4 justify-end" cols="12">
              <v-btn class="mr-3" color="red" outlined @click="dialog = false">
                Cancelar
              </v-btn>
              <v-btn type="submit" color="#6b2378" dark>Aceptar</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="notification" color="blue darken-3" bottom>
      Gracias por completar el formulario
      <template v-slot:action="{ attrs }">
        <v-btn
          color="white"
          text
          icon
          v-bind="attrs"
          @click="notification = false"
        >
          <v-icon>close</v-icon>
        </v-btn>
      </template>
    </v-snackbar>
  </section>
</template>

<script>
// COMPONENT DATA
function ComponentData() {
  return {
    rules: [(v) => !!v || 'Este campo es obligatorio'],
    notification: false,
    show: {
      password: false,
    },
    form: {},
    dialog: false,
    current: 0,
    slides: [
      {
        desktop: '/Slide1Desktop.jpg',
        mobile: '/Slide1Mobile.jpg',
        description: `Tasa de interes preferencial por compras en línea superiores a $ 1.000.000`,
      },
      {
        desktop: '/Slide2Desktop.jpg',
        mobile: '/Slide2Mobile.jpg',
        description: `Préstamos en linea, sin filas ni documentos, en cuestión de minutos te aprobamos tu cupo`,
      },
      {
        desktop: '/Slide3Desktop.jpg',
        mobile: '/Slide3Mobile.jpg',
        description: `Tarjeta MasterCard para que compres en internet y lo puedes diferir hasta 24 cuotas, te la enviamos totalmente gratis`,
      },
    ],
  }
}

// COMPONENT METHODS
function GetSlideImage(slide) {
  let image = ''
  if (this.$vuetify.breakpoint.smAndDown) {
    image = slide.mobile
  } else {
    image = slide.desktop
  }
  return image
}

function ContactFormSubmit(event) {
  event.preventDefault()
  if (this.$refs.ContactForm.validate()) {
    this.dialog = false
    this.notification = true
    this.form = {}
  }
}

// EXPORT COMPONENT DEFINITION
export default {
  name: 'TheBenefitsSections',
  data() {
    return ComponentData()
  },
  methods: {
    GetSlideImage,
    ContactFormSubmit,
  },
}
</script>

<style scoped>
.slide-container {
  position: relative;
  border-radius: 3px;
}

.slide-container img {
  border-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(42, 42, 42, 0.3);
  display: flex;
  align-items: center;
  padding: 40px 20px;
  flex-direction: column;
}

.overlay p {
  margin: 0;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 1px 1px 2px black;
}

.card-title p {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  color: #6b2378;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}
</style>
