<template>
  <section id="prestamos">
    <v-row>
      <v-col class="py-0" cols="12" md="6">
        <div class="image-container">
          <img src="/Loan.jpg" />
        </div>
      </v-col>
      <v-col class="py-0 loan-description" cols="12" md="6">
        <p class="loan-title">Prestamos</p>
        <p class="loan-text">
          {{
            `Solicita tu Crédito o Préstamo en Colombia por internet desde cualquier lugar en donde estés.`
          }}
        </p>
        <p class="loan-text">
          {{
            `Pide el dinero que necesitas donde quieras, cuando quieras y sin hacer filas. Tenemos los mejores Préstamos instantáneos en línea.`
          }}
        </p>
      </v-col>
      <v-col class="py-0 mt-6" cols="12">
        <v-row>
          <v-col class="icon-container mb-6" cols="12" lg="4">
            <img src="/Icon1.png" />
            <p>Desembolso Rápido</p>
          </v-col>
          <v-col class="icon-container mb-6" cols="12" lg="4">
            <img src="/Icon2.png" />
            <p>Sin Filas Ni Papeleos</p>
          </v-col>
          <v-col class="icon-container mb-6" cols="12" lg="4">
            <img src="/Icon3.png" />
            <p>Sin Intermediarios</p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </section>
</template>

<script>
// EXPORT COMPONENT DEFINITION
export default {
  name: 'TheLoanSection',
}
</script>

<style scoped>
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

.loan-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
}

.loan-title {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.loan-text {
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  margin-bottom: 2px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-container p {
  margin: 0;
  text-align: center;
  font-size: 1.1em;
}
</style>
