<template>
  <v-app>
    <TheNavigationBar />
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <TheFooter />
  </v-app>
</template>

<script>
// IMPORT COMPONENTS
import TheNavigationBar from '@/components/layout/TheNavigationBar'
import TheFooter from '@/components/layout/TheFooter'

// EXPORT COMPONENT DEFINITION
export default {
  name: 'DefaultLayout',
  components: {
    TheNavigationBar,
    TheFooter,
  },
}
</script>
