<template>
  <div class="mt-3">
    <TheBenefitsSection />
    <TheLoanSection class="mt-8" />
    <TheAdvisorySection class="mt-8" />
  </div>
</template>

<script>
// IMPORT COMPONENTS
import TheBenefitsSection from '@/components/home/TheBenefitsSection'
import TheLoanSection from '@/components/home/TheLoanSection'
import TheAdvisorySection from '@/components/home/TheAdvisorySection'

// EXPORT COMPONENT DEFINITION
export default {
  name: 'HomePage',
  components: {
    TheLoanSection,
    TheBenefitsSection,
    TheAdvisorySection,
  },
}
</script>
